body{
    background-image: url('./assets/destination/background-destination-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-width: 500px) {
    body{
        background-image: url('./assets/destination/background-destination-tablet.jpg');
    }
}
@media (min-width: 1000px) {
    body{
        background-image: url('./assets/destination/background-destination-desktop.jpg');
    }  
}