body{
    background-image: url('./assets/home/background-home-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
@media (min-width: 500px) {
    body{
        background-image: url('./assets/home/background-home-tablet.jpg');
    }
}
@media (min-width: 1000px) {
    body{
        background-image: url('./assets/home/background-home-desktop.jpg');
    }  
}

main{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
@media (min-width: 800px)
{
    main{
        width: 90% !important;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        flex-direction: row;
        align-items: center;
        justify-content: space-between !important;
    }
    main > div{
        width: 38%;
    }
    div.intro{
        width: 38%;
    }
    div.intro_heading{
        font-size: 100px !important;
    }
}
@media (min-width: 900) {
    div.intro, main > div{
        width: 45%;
    }
    
}
@media (min-width: 550px){
    main{
        width: 60%;
    }
}
div.intro{
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
div.intro > div{
    width: 100%;
}
div.intro_heading{
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 25px;
}
div.explore{
    width: 200px;
    height: 200px;
    margin: 30px auto;
    background-color: #fff;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}
div.intro > div:not(:nth-child(2)){
    opacity: 80%;
}
div.intro > div:first-child{
    font-size: 20px;
}
div.intro > div:last-child{
    line-height: 25px;
}

